<nav id="desktop-nav">
    <div class="logo">Suvodeep</div>
    <div>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>
<nav id="hamburger-nav">
    <div class="logo">Suvodeep</div>
    <div class="hamburger-menu">
        <div class="hamburger-icon" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-links">
            <li><a href="#about" (click)="toggleMenu()">About</a></li>
            <li><a href="#experience" (click)="toggleMenu()">Skills</a></li>
            <li><a href="#projects" (click)="toggleMenu()">Projects</a></li>
            <li><a href="#contact" (click)="toggleMenu()">Contact</a></li>
        </div>
    </div>
</nav>