<section id="experience">
  <p class="section__text__p1">Explore My</p>
  <h1 class="title">Skills</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div class="details-container">
        <h2 class="experience-sub-title">Backend Development</h2>
        <div class="article-container">
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Node.js</h3>
              <p>Express.js</p>
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>MongoDB</h3>
              <!-- <p>Mongoose</p> -->
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>PostGRE-SQL</h3>
              <p>Apache Superset</p>
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Redis</h3>
              <!-- <p>Basic</p> -->
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Firebase</h3>
              <!-- <p>Basic</p> -->
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Systems Design</h3>
              <!-- <p>Basic</p> -->
            </div>
          </article>
         
        </div>
      </div>
      <div class="details-container">
        <h2 class="experience-sub-title">Programming Languages</h2>
        <div class="article-container">
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>JavaScript</h3>
              <!-- <p>Node.js</p> -->
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>TypeScript</h3>
              <!-- <p>Intermediate</p> -->
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>C++</h3>
              <!-- <p>for DSA</p> -->
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Go</h3>
              <!-- <p>Node.js</p> -->
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Rust</h3>
              <!-- <p>Node.js</p> -->
            </div>
          </article>
          
        </div>
      </div>
      <div class="details-container">
        <h2 class="experience-sub-title">DevOps</h2>
        <div class="article-container">
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>AWS</h3>
              <!-- <p>Certifiable</p> -->
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Jenkins</h3>
              <!-- <p>Intermediate</p> -->
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Argo CD</h3>
              <p>Kubernetes</p>
            </div>
          </article>
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Docker</h3>
              <!-- <p>Intermediate</p> -->
            </div>
          </article>
        </div>
      </div>
      <div class="details-container">
        <h2 class="experience-sub-title">Frontend Development</h2>
        <div class="article-container">
          <article>
            <!-- <img src="./assets/checkmark.png" alt="Experience icon" class="icon" /> -->
            <div>
              <h3>Angular</h3>
              <!-- <p>Basic</p> -->
            </div>
          </article>
          <!-- <article>
            <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Node JS</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Express JS</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
            <div>
              <h3>Git</h3>
              <p>Intermediate</p>
            </div>
          </article> -->
        </div>
      </div>
    </div>
  </div>
  <img src="./assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#projects'" />
</section>